.calculadora{
	padding: 7% 0%;
    border-radius: 5px;
	margin-top: 40px;
	border-style: double;
	border: solid;
    border-color: rgb(250, 193, 7);
}
.display{
	width: 75%;
    height: 110px;
	margin-left: 13%;
    margin-bottom: 10px;
	font-size: 22px;
	padding: 15px;
	border: none;
	border-style: solid;
    border-color: rgb(250, 193, 7);
    border-radius: 5px;
	border-width: medium
}
.valor{
    font-size: 20px;
    margin: 3px;
	color: rgb(102 81 10);
	border: none;
    width: 17%;
	border-style: solid;
    border-color: rgb(250, 193, 7);
	border-width: medium;
	background-color: rgb(250 193 7 / 48%);
}
.valor:hover{
	background-color:rgb(250, 193, 7);
	border-style: solid;
    border-color: rgb(250, 193, 7);
}
.excluir{
    font-size: 20px;
    margin: 3px;
	color: rgb(255, 23, 7);
	border-style: solid;
    border-color: rgb(255, 23, 7);
	border-width: medium;
    width: 17%;
	background-color: rgba(250, 10, 10, 0.419);
}
.excluir:hover{
	border-style: solid;
    border-color: rgb(255, 23, 7);
	background-color:rgb(255, 23, 7) ;
}
.backspace{
    font-size: 20px;
    margin: 3px;
	color: rgb(8, 0, 255);
	border-style: solid;
    border-color: rgb(8, 0, 255);
	border-width: medium;
    width: 17%;
	background-color: rgba(15, 46, 246, 0.366);
}
.backspace:hover{
	border-style: solid;
    border-color: rgb(8, 0, 255);
	background-color: rgb(8, 0, 255);
}
.resultado{
    width: 36%;
    font-size: 20px;
    margin: 3px;
	border-style: solid;
    border-color: rgb(8, 0, 255);
	border-width: medium;
	color:  rgb(8, 0, 255);
	background-color: rgba(15, 46, 246, 0.366);
}
.resultado:hover{
	border-style: solid;
    border-color: rgb(8, 0, 255);
	background-color: rgb(8, 0, 255);
}
.espaco{
	padding: 10px;
}
.numeros{
	justify-content: center;
}
.tamanho{
	margin-left: auto;
    margin-right: auto; 
}